*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app{
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-items: center;
}

html{
  font-size: 62.5%;  
  --color-button: black;
  --color-timer: #323238;
  --color-button-song: #E1E1E6;
  --color-bg-button-song-selected: #02799D;
}

html.dark{
  background-color: #2d2d30;
  --color-button: white;
  --color-timer: white;
}

/* Classe designada para sumir com o texto da tela mas continuar para o leitor de tela */
.sr-only{
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
}

/* Usado para a troca dos icones no botão toggle-mode */
html:not(.dark) .ph-sun,
html.dark .ph-moon{
  display: none;
}

/* usado para a troca do botão play pause */
html:not(.running) .ph-pause-circle, 
html.running .ph-play-circle{
  display: none;
}

#toggle-button{
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: none;
  border: none;
  font-size: 3rem;
  color: var(--color-button);
}

#clock{
  display: grid;
  align-items: center;
  justify-content: center;  
}

#timer{
  text-align: center;
}

#timer span{
  font-size: 12rem;
  color: var(--color-timer);
}

#controls{
  display: flex;
  justify-content: space-evenly;
}

#controls button{
  background: none;
  border: none;
  font-size: 3.5rem;
  color: var(--color-button);
  justify-items: stretch;
}

.buttonSongs{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

.buttonSongs .buttonSongSelected{
  background-color: var(--color-bg-button-song-selected);
  color: white;
}

.buttonSongs button{
  font-size: 5rem;
  width: 8rem;
  height: 9rem;
  border-radius: 2.4rem;
  background-color: var(--color-button-song);
  border: none;
  cursor: pointer;
  appearance: none;
}

